.header {
    font-family: "Macondo", cursive;
}

.user-dropdown {
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

/* .logo {
    font-family: 'Macondo', cursive;
}

nav.topnav {
    overflow: hidden;
}

nav.topnav a {
    display: block;
    color: #971616;
    text-decoration: none;
    font-family: 'Macondo', cursive;
}

nav.topnav ul li {
    display: inline-block;
    zoom: 1;
}

nav a:hover  {
    background-color: rgb(158, 158, 158);
    color: black;
}

.login {
    overflow: hidden;
    font-family: 'Macondo', cursive;
}

.login a {
    float: right;
    display: block;
    color: #971616;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

.login a:hover {
    background-color: rgb(158, 158, 158);
    color: black;
} */