.header {
    background-color: #F1F1F1;
    text-align: left;
    padding: 20px;
}

.logo {
    font-family: 'Macondo', cursive;
}

nav.topnav {
    overflow: hidden;
}

nav.topnav a {
    float: center;
    display: block;
    color: #971616;
    text-align: center;
    
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Macondo', cursive;
}

nav.topnav ul li {
    display: inline-block;
    zoom: 1;
}

nav a:hover  {
    background-color: rgb(158, 158, 158);
    color: black;
}

.login {
    overflow: hidden;
}

.login a {
    float: right;
    display: block;
    color: #971616;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Macondo', cursive;
}

.login a:hover {
    background-color: rgb(158, 158, 158);
    color: black;
}