<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="static/header.css" rel="stylesheet">
</head>

<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Pathfinder Party Loot</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                    <!-- <li>
                        <a href="#">Donate</a>
                    </li> -->
                </ul>
                <!-- idea if user is logged out:
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-user"></span> Sign Up</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
                            </li>
                        </ul>
                    -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../static/images/default_user.png" alt="usr" width="20" height="20">
                            <strong>UserName</strong>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- needs to dynamically change based on user login status -->
                            <li>
                                <a href="#" type="button" class="btn-default navbar-btn">My Account</a>
                            </li>
                            <li>
                                <a href="#" type="button" class="btn-default navbar-btn">Characters</a>
                            </li>
                            <!-- maybe rename campaigns to someting more fitting -->
                            <li>
                                <a href="#" type="button" class="btn-default navbar-btn">Campaigns</a>
                            </li> 
                            <li>
                                <a href="#" type="button" class="btn-danger navbar-btn">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>