<!DOCTYPE html>
<html lang=en>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">
        <link href="static/header.css" rel="stylesheet">
    </head>
    <div class=container>
        <div class=header>
            <h1 class=logo>Pathfinder Party Loot</h1>
            <nav class=topnav>
                <ul>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                    <li>
                        <a href="#">Donate</a>
                    </li>
                </ul>
            </nav>
            <div class=login>
                <h3>
                    <a href="#">Create an Account</a>
                </h3>
                <h5>
                    Have an account?
                    <a href="#">Login</a>
                </h5>
            </div>
        </div>
    </div>

</html>